---
layout: default
title: Daftar Menu UMKM
tampilkan_menu: "donat"
---


<h1>Menu Spesial Kami</h1>

{% if page.tampilkan_semua == "donat" %}

  <h2>Daftar Donat Lumer</h2>
  <ul>
    {% for item in site.data.menu_donat %}
      <li>{{ item.nama }} - Rp {{ item.harga }}</li>
    {% endfor %}
  </ul>

{% elif page.tampilkan_semua == "ayam" %}
  <h2>Daftar Ayam Geprek</h2>
  <ul>
    {% for item in site.data.menu_ayam %}
      <li>{{ item.nama }} - Rp {{ item.harga }}</li>
    {% endfor %}
  </ul>

{% else %}
  <p>Menu tidak ditemukan.</p>
{% endif %}
