<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | DonatJS UKM</title>

  <meta name="description" content="{{ page.description }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="DonatJS UKM">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="https://donat.id/pwa/icons/icon-152x152.png">
  <meta name="msapplication-TileImage" content="pwa/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#386CC1">
  <meta name="theme-color" content="#164391">

  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:url" content="https://donat.id{{ page.url }}"/>
  <meta property="og:type" content="{{ page.og_type | default: 'website' }}"/>
  <meta property="og:description" content="{{ page.description }}"/>

  <meta property="og:image" content="{{ page.og_image | default: 'https://donat.id/app/ukm/donat-ukm.png' }}"/>
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627" />
</head>
<body>

    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

</body>
</html>
